@import '../styles/vars'

.gr
  &-accordion
    &-item
      border: 2px solid $cBgDark
      border-bottom none
      font-family: $font
      &:last-child
        border-bottom: 2px solid $cBgDark
      &__title
        width 100%
        padding 10px 20px
        font-size 22px
        font-weight bold
        text-transform uppercase
        text-align-last left
        transition 0.2s
        @media screen and (max-width: $wM)
          padding 5px 10px
          font-size 18px
        &:hover
          background-color: rgba($cBgMiddle, .2)
          @media screen and (max-width: $wL)
            background-color transparent
      &__wrapper
        overflow hidden
      &__content
        padding 10px 20px
        border-top: 2px solid $cBgDark
        margin-top -100%
        transition 0.2s
        @media screen and (max-width: $wM)
          padding 5px 10px
          margin-top -110%
        @media screen and (max-width: $wM)
          margin-top: -500%
        &_active
          margin-top 0