@import '../styles/vars'

.gr
  &-slider
    &-wrapper
      position relative
      height 500px
      width 1200px
      overflow hidden
      &:before, &:after
        position: absolute
        top: 0
        content: ''
        display: block
        height: 100%
        width: 20px
        background-color: $cBgLight
        box-shadow: 0 0 40px 60px $cBgLight
        z-index: 5
      &:before
        left: 0
      &:after
        right: 0
    &-container
      position: absolute
      top 0
      left -1200px
      height 100%
      display flex
      white-space: nowrap
    &-item
      min-width 1200px
      height: 100%
    &-arrow
      position absolute
      top 50%
      transform: translateY(-50%)
      display flex
      justify-content center
      align-items center
      width 60px
      height 60px
      border-radius 50%
      transition 0.2s
      cursor pointer
      z-index 10
      &:hover
        background-color: rgba($cBgDark, .2)
      &:after
        position: absolute
        top: 50%
        left: 50%
        content: ''
        display block
        width 50%
        height 50%
        border-top: 2px solid $cBgDark
        border-right: 2px solid $cBgDark
      &_left
        left 0
        &:after
          transform: translate(-30%, -50%) rotate(-135deg)
      &_right
        right 0
        &:after
          transform: translate(-70%, -50%) rotate(45deg)
    &-nav
      position absolute
      // top 105%
      bottom 0
      left 50%
      transform: translateX(-50%)
      &__item
        width 15px
        height 15px
        background-color $cBgDark
        margin 0 10px
        transition 0.2s
        &:hover
          background-color: $cBgMiddle
        &_active
          background-color $cActive
          &:hover
            background-color: $cActive