@import '../styles/vars'

.gr
  &-tabs
    display: flex
    justify-content: space-between
    &-nav
      flex-basis: 25%
      &__item
        width: 95%
        padding: 10px
        background-color: $cBgDark
        border-top: 1px solid $cActive
        border-bottom: 1px solid $cActive
        font-family: $font
        font-weight: bold
        text-align: left
        color: $cFontLight
        text-transform: uppercase
        transition: .2s
        &_active
          width: 100%
          color: $cActive
        &:hover
          width: 100%
          color: $cActive
          @media screen and (max-width: $wL)
            width 95%
            color $cFontLight
            &.gr-tabs-nav__item_active:hover
              width: 100%
              color: $cActive
    &-content
      flex-basis: 70%
      line-height: 1.5
      &__item
        opacity: 0
        transition: .2s
        &_active
          opacity 1
    &_vertical
      flex-direction: column
      .gr
        &-tabs
          &-nav
            display flex
            align-items center
            flex-wrap: wrap
            margin-bottom 50px
            @media screen and (max-width: $wM)
              margin-bottom 25px
            &__item
              width auto
              padding 10px 20px
              border: none
              border-left: 1px solid $cActive
              border-right: 1px solid $cActive
              text-align center
              @media screen and (max-width: $wM)
                flex-grow: 1
                padding 5px 10px
                border: 1px solid $cActive
                font-size 14px
              &_active
                width: auto
              &:hover
                width: auto