// Font
/* Vars=
========================================================================== */
$font = 'Ubuntu', Arial, sans-serif
$fzTitle = 48px
$fzSubtitle = 24px
$fzText = 18px
$fzSmall = 14px

// Width
$wXL = 1200px
$wL = 992px
$wM = 768px
$wS = 576px

$wColXL = 68px
$wColL = 53px
$wColM = 33px
$wColS = 18px
$wColXS = 25px
$wGap = 30px

$wcXL = 1146px // 68 * 12 + 30 * 11 (12 columns)
$wcL = 966px // 53 * 12 + 30 * 11 (12 columns)
$wcM = 726px // 33 * 12 + 30 * 11 (12 columns)
$wcS = 546px // 18 * 12 + 30 * 11 (12 columns)
$wcXS = 300px // 25 * 6  + 30 * 5  (6  columns)

// Colors
$cFontDark = #000000
$cFontLight = #EEEEEE
$cActive = #4DBA87
$cWarning = #fc5c65
$cBgDark = #435466
$cBgLight = #FFFFFF
$cBgMiddle = #597088